*{
    font-family: 'Raleway', sans-serif;
}

.bodycontainer{
    padding:10px;
    margin-top:80px;
}

.restDetails{
    margin:10px 25px;
    line-height:2;
}

.restName{
    font-size:40px;
}

.restDetails .restName .verification{
    font-size:22px;
}

.restDetails .restName .verification i{
    font-size:20px;
    color:green;
}

.restDetails .restinfo{
    margin-left:12px;
    font-size: 16px;
}

.restDetails i{
    font-size: 16px;
    padding:10px;
}

/* Menu carousel */
.menuoutercontainer{
    /* background:#f6f4f0; */
    padding: 15px;
    border-radius: 8px;
}


.menucontainer{
    max-width: 1300px;
    margin: auto;
    position: relative;
}

.menucontainer i{
    top:50%;
    background:#8a8474;
    color:#f0ead8;
    width:40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    z-index: 2; 
}

.menucontainer i:first-child{
    left:-25px;
    z-index: 3;
    display: none;
}

.menucontainer i:last-child{
    right:-25px;
}

.carousel{
    /* display: flex; */
    /* border-radius: 10px; */
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel img{
    width:calc(100% / 3);
    height: 380px;
    object-fit:cover;
    margin-left: 10px;
}

.carousel img:first-child{
    margin-left: 0px;
}

@media screen and (max-width: 900px) {
    .carousel img{
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550) {
    .carousel img{
        width: 100%;
    }
}

/* Restaurant details card */
.cardcontainer{
    padding:20px;
}


.cardcontainer .card{
    height:320px;
}

.cardcontainer .card .card-body p{
    font-size:16px;
    letter-spacing:2px;
}

.cardcontainer .card .card-body h5{
    font-size:20px;
    font-weight:bold;
    letter-spacing:2px;
}

.cardcontainer .card .card-body i{
    font-size:17px;
    color:#f1f190;
}

.cardcontainer .card .card-body .restLocation{
    font-size:18px;
    font-weight:bold;
    letter-spacing:2px;
    margin:2px 5px;
}

.cardcontainer .card .card-body .restAddress{
    font-size:14px;
    letter-spacing:2px;
}

/* Ratings and reviews */
.ratingcontainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.ratingcontainer .title{
    font-size:30px;
    padding:10px 10px;
}

 .reviewcontainer{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    width:100%;
}

.reviewbox{
    width:90%;
    height: 260px;
    /* box-shadow:0 5px 5px rgba(0, 0, 0, 0.3); */
    background-color:#fefef3;
    padding:15px;
    margin:15px;
}

.profile{
    display:flex;
    align-items:center;
}

.profile .custpic{
    width:50px;
    height:50px;
    border-radius:50%;
    overflow:hidden;
    margin-right:10px;
}

.profile .custpic img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
}

.custname{
    display:flex;
    flex-direction:column;
}

.box-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.rating i{
    color:yellow;
}

.custreview .date{
    color:grey;
}

.custreview p{
    font-size:14px;
    color:black;
}

.icons{
    float:right;
    gap:12px;
    font-size:20px;
    color:#292824;
    display:flex;
    cursor:pointer;
}

.newrating i{
    color:#c4c4be;
}

.newrating i:hover{
    cursor: pointer;
}

.newrating i.selected{
    color:yellow;
}

.form-group .form-control{
    font-size:14px;
}

.submitbtn{
    border: none;
    float: right;
    font-size: 16px;
    margin-top:5px;
}
.submitbtn:hover{
    color:rgb(138, 127, 114);
}