*{
    font-family: 'Raleway', sans-serif;
}

.mainContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 25px;
    margin-top:90px;
    background:#fcfcfa;
}

.contentContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 260px);
    align-items:center;
}

/* Sidemenu */
.sidemenu{
    background:#F8F8F8;
    margin: 20px 10px;
    box-shadow:0 3px 6px rgba(0, 0, 0, 0.3);
    border-radius:10px;
    padding: 20px;
    flex: 0 0 240px;
    height:120vh;
    align-items:center;
}

.listwrapper{
    width:190px;
    /* padding: 2px 2px; */
}

.rangeinput{
    width:100%;
    display: flex;
    margin:5px 0 8px;
}

.rangeinput .field{
    height: 25px;
    width:45%;
    display: flex;
    align-items: center;
}

.field input{
    width:100%;
    height:100%;
    outline: none;
    font-size: 15px;
    text-align: center;
    margin-left: 3px;
    border-radius: 5px;
    border: 1px solid black;
    -moz-appearance: textfield;
}

.rangeinput .separator{
    width:30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.slider{
    height: 5px;
    background:#d8d6cb;
    border-radius: 5px;
    position: relative;
}

.slider .amount{
    height: 5px;
    left:10%;
    right:48%;
    position: absolute;
    border-radius: 5px;
    background: #c7c3aa;
}

.pricerange{
    position: relative;
}

.pricerange input{
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    -webkit-appearance: none;
    pointer-events: auto;
    background: #817e69;
}

input[type="range"]::-moz-range-thumb{
    height: 10px;
    width: 10px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: rgb(9, 10, 9);
}

.confirmbutton button{
    font-size: 18px;
    border-radius: 5px;
    background: #e6e3d1;
    border: none;
    margin-top: 10px;
    margin-left:70%;
}

.confirmbutton button a{
    color:black;
    text-decoration: none;
}

.searchBar{
    height:30px;
    display:flex;
    cursor:pointer;
    padding:5px 5px;
    border-radius:30px;
    align-items:center;
    box-shadow:0 5px 5px rgba(0, 0, 0, 0.3);
    margin:15px 0;
}

.searchBar:hover input{
    width:140px;
}

.searchBar input{
    width:0;
    outline:none;
    border:none;
    font-size:15px;
    transition:0.8s;
    background:transparent;
}

.searchBar a i{
    color:#C0B0A2;
    font-size:18px;
}

.sidemenu .nav-link i{
    font-size:18px;
    color:black;
    margin-right:10px;
}

.sidemenu .nav-link span{
    font-size:16px;
    color:#674D41;
}

.sidemenu .nav-link .fa-angle-down{
    font-size:20px;
    color:#A39087;
    margin-left:22px;
}

/* Carousel */
.carouselContainer{
    max-width: 100%;
    margin-bottom:10px;
}

.carouselContainer .carousel{
    margin: 0 10px;
    height:280px;
    margin-top:10px;
}

.carouselContainer .carousel-inner{
    display:flex;
}

.carouselContainer .carousel-item{
    display:block;
    margin-right:-5px;
    flex: 0 0 calc(100% / 4);
    padding:18px 16px;
}

.carouselContainer .card{
    margin: 0 10px;
    height:250px;
    border-radius:5px;
    box-shadow: 2px 6px 8px 0 rgba(22,22,26, .18);
    transition:0.5s;
}

.carouselContainer .card:hover{
    transform:scale(1.1);
}

.carouselContainer .card img{
    width:100%;
    height:150px;
    object-fit:cover;
}

.carouselContainer .card-body .card-title{
    font-size:18px;
}

.carouselContainer .card-body .card-text{
    margin-bottom:3px;
}

.carouselContainer .card-body .rating{
    color: grey;
    margin-right:5px;
}

.carouselContainer .card-body i{
    font-size:12px;
    /* color:#cfcda5; */
    color:#d1d18a;
}

.carouselContainer .carousel-control-prev{
    height: 6vh;
    width:6vh;
    background-color: rgb(100, 95, 95);
    border-radius:50%;
    top:50%;
    transform: translateY(-50%);
    opacity:.5;
}

.carouselContainer .carousel-control-next{
    height: 6vh;
    width:6vh;
    background-color: rgb(100, 95, 95);
    border-radius:50%;
    top:50%;
    transform: translateY(-50%);
    opacity:.5;
}

.title{
    text-align:center;
    margin:10px;
}

/* Restaurant cards */
.restContainer{
    margin-top:10px;
}

.restContainer .title{
    text-align:center;
    margin:10px;
}

.restContainer .card{
    height:180px;
}

.restContainer .card .row img{
    width:210px;
    height:180px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.restContainer .card-body{
    width:600px;
    margin:0 6px;
}

.restContainer .card-text i{
    padding:0 6px;
}

.restContainer .carousel-item img{
    width:100%;
    height:100%;
}

.viewRestBtn{
    border:none;
    background:#e0dfdc;
    color:black;
    margin:15px;
    font-size:18px;
    font-weight:black;
    border-radius:5px;
    height:40px;
    outline:none;
}
