*{
    font-family: 'Raleway', sans-serif;
}

.bodycontainer{
    padding:10px;
    margin-top:80px;
}

.restDetails{
    margin:10px 25px;
    line-height:2;
}

.restName{
    font-size:40px;
}

.restDetails .restName .verification{
    font-size:22px;
}

.restDetails .restName .verification i{
    font-size:20px;
    color:green;
}

.restDetails .fa-location-dot{
    color: red;
}

.restDetails .fa-square-phone{
    color: #9fb897;
}

.restinfo{
    
    font-size: 16px;
}

.restDetails i{
    font-size: 18px;
    padding:10px;
}

/* Menu carousel */
.menuoutercontainer{
    /* background:#f6f4f0; */
    padding: 15px;
    border-radius: 8px;
}

.menucontainer{
    max-width: 1300px;
    margin: auto;
    position: relative;
}

.menucontainer i{
    top:50%;
    background:#8a8474;
    color:#f0ead8;
    width:40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    z-index: 2; 
}

.menucontainer i:first-child{
    left:-25px;
    z-index: 3;
    display: none;
}

.menucontainer i:last-child{
    right:-25px;
}

.carousel{
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel img{
    width:calc(100% / 3);
    height: 380px;
    object-fit:cover;
    margin-left: 10px;
}

.carousel img:first-child{
    margin-left: 0px;
}

@media screen and (max-width: 900px) {
    .carousel img{
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550) {
    .carousel img{
        width: 100%;
    }
}

/* Restaurant details card */
.cardcontainer{
    padding:20px;
}

.cardcontainer .card{
    height:330px;
}

.cardcontainer .card .card-body .ratingqty{
    font-size: 14px;
}

.cardcontainer .card .card-body p{
    font-size:18px;
    letter-spacing:1px;
}

.cardcontainer .card .card-body h5{
    font-size:20px;
    font-weight:bold;
    letter-spacing:2px;
}

.cardcontainer .card .card-body i{
    font-size:17px;
    color:#f1f190;
}

.cardcontainer .card .card-body .restLocation{
    font-size:20px;
    font-weight:bold;
    letter-spacing:2px;
    margin:2px 5px;
}

.cardcontainer .card .card-body .restAddress{
    font-size:15px;
    letter-spacing:2px;
}

/* Ratings and reviews */
.ratingcontainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.ratingcontainer .title{
    font-size:30px;
    padding:10px 10px;
}

.reviewcontainer{
    margin:auto;
    width:80%;
    display:flex;
    border:1px solid #d4d1cd;
    border-radius:5px;
    height:220px;
    margin-bottom:10px;
    /* background: #f5f4f2; */
}

.reviewcontainer .custprofile{
    display:flex;
    align-items:center;
    justify-content: center;
    width:180px;
    flex-direction: column;
}

.reviewcontainer .custprofile img{
    width:80px;
    height:80px;
    border-radius:50%;
    line-height:1px;
}

.reviewcontainer .custprofile .custname{
    font-size:16px;
    margin:10px;
}

.review{
    flex-grow: 1;
    padding:20px;
}

.review .reviewdate{
    font-size:14px;
    letter-spacing:1px;
    color:grey;
}

.starqty{
    float:right;
}

.starqty i{
    color:yellow;
}

.actionicons{
    float:right;
}

.actionicons i{
    font-size:18px;
    margin-right:8px;
    cursor: pointer;
}

.reviewcmd{
    margin-bottom:8px;
}

.newrating{
    float:right;
}

.newrating i{
    color:yellow;
}

/* .newrating i.selected{
    color:yellow;
} */

.submitbtn{
    border: none;
    float: right;
    font-size: 18px;
    margin-top:6px;
}

.submitbtn:hover{
    color:rgb(138, 127, 114);
}

.form-group .form-control{
    font-size: 15px;
    background-color: #F8F8F8;
}

textarea.form-control:focus{
    box-shadow:0 0 8px #635e49;
}

.form-control.form-control-no-outline {
    border: none;
    box-shadow: none !important;
}

.submit-icon {
    padding:0;
    background: none;
    border:none;
}